body {
  font-family: var(--f-base), sans-serif;
  color: var(--c-black);
}

.container {
  width: 100%;
  max-width: 540px;
  padding: 0 15px;
  margin: 0 auto;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  padding: 16px 0;

  &__title {
    font-size: 24px;
    font-weight: 600;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  &__submit {
    margin-top: 6px;
  }
}

.services {
  padding-top: 24px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  &__toggle {
    position: sticky;
    top: 10px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__fixed {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--c-white);
  }

  &__btn-fixed {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 10px;
    width: 100%;
  }

  &__fixed-inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 16px 30px 10px 30px;
    border-top: 1px solid var(--c-neutral-50);

    & > span {
      color: var(--c-grey-300);
    }
  }

  &__total {
    font-size: 20px;
    font-weight: 700;
  }
}

.ads {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  row-gap: 16px;
  min-height: 100dvh;

  &__header {
  }

  &__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  &__tags {
    width: calc(100% + 30px);
    margin-left: -15px;
    padding: 0 15px;
    display: flex;
    column-gap: 8px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}
