// Connecting fonts
@mixin font-face($font-family, $file-path, $weight: 400, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
    src: local("#{$file-path}"),
      url("../assets/fonts/#{$file-path}.woff2") format("woff2");
  }
}

// Media queries
@mixin media-max($mq) {
  @media screen and (max-width: $mq) {
    @content;
  }
}

// Hover on PC
@mixin any-hover {
  @media (any-hover: hover) {
    @content;
  }
}

// Reset style default btn
@mixin btn-reset {
  text-decoration: none;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
