:root {
  --f-base: "SFProDisplay";
  --f-field: "Montserrat";

  --c-black: #282828;
  --c-blue-250: #006dec;

  --c-neutral-150: #a7bbd3;

  --c-red-40: #f40000;

  --c-grey-100: #ededed;
  --c-grey-200: #b1b1b1;

  --t-base: 0.2s ease-in-out;

  --media-desktop: 1599px;
  --media-laptop: 1439px;
  --media-laptop-small: 1259px;
  --media-tablet: 999px;
  --media-phablet: 767px;
  --media-mobile: 479px;
  --media-mobile-small: 374px;
}
